# Byte-compiled / optimized / DLL files
__pycache__/

# Hide some OS X stuff
.DS_Store
.AppleDouble
.LSOverride

.pioenvs
.piolibdeps
.pio
.vscode/
!.vscode/settings.json

# does not need to be synched, just for mkdocs locally
site/
