# AWS related modules
boto3
awscli
aws-sam-cli
cfn-lint

#calculation related modules
pandas
matplotlib

# Docs related modules
mkdocs-material
mkdocs-plugin-mermaid
mkdocs_pymdownx_material_extras
mkdocs-git-revision-date-plugin
mkdocs-mermaid2-plugin
mkdocstrings
